<%= render partial: "/shared/header", locals: { header_name: "Cohorts List" } %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "name", "Cohort" %></th>
    <th><%= sortable "program" %></th>
    <th><%= sortable "pace" %></th>
    <th><%= sortable "status" %></th>
  </tr>

  <% @cohorts.each do |cohort| %>
    <tr>
      <td><%= link_to cohort.name, cohort_path(cohort), class: "link-dark" %></td>
      <td><%= cohort.program %></td>
      <td><%= cohort.pace %></td>
      <td><span class="badge rounded-pill <%= status_color(cohort.status) %> text-light"><%= cohort.status %></span></td>
    </tr>
  <% end %>
</table>