<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "last-name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <h3>Select Cohort</h3>
  <div>
    <%= f.collection_select :cohort_id, Cohort.all, :id, :name, include_blank: "Select Cohort" %>
  </div>

  <h3>Create/Register Cohort</h3>
  <%= f.fields_for :cohort, @user.build_cohort do |cb| %>
    <div>
      <%= cb.label :name %>
      <%= cb.text_field :name %>
      
      <%= cb.label :program %>
      <%= cb.text_field :program %>
      
      <%= cb.label :time %>
      <%= cb.text_field :time %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>