<%= render partial: "/layouts/header", locals: { header_name: "Projects List" } %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "name", "Project Name" %></th>
    <th>Created By</th>
    <th><%= sortable "phase_num", "Phase Number" %></th>
    <th>Cohort</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project), class: "link-dark" %></td>
      <td><%= link_to project.user.full_name, project_path(project), class: "link-dark" %></td>
      <td>Phase <%= project.phase_num %></td>
      <td><%= link_to project.user.cohort.name, cohort_path(project.user.cohort), class: "link-dark" %></td>
    </tr>

  <% end %>

</table>

<%= link_to "Create New Project", new_project_path, class: "btn btn-dark" %>