<h2>Questionaire</h2>

<div>
  <%= @survey_questions.phase_num %>
</div>
<div>
  <%= @survey_questions.design_question %>
</div>
<div>
  <%= @survey_questions.navigation_question %>
</div>
<div>
  <%= @survey_questions.error_handling_question %>
</div>
<div>
  <%= @survey_questions.rating %>
</div>