<%= render partial: "/layouts/subheader", locals: { header_name: "Surveys List" } %>

<table class="table table-striped">
  <tr>
    <th>Survey Name</th>
    <th>Phase Number</th>
    <th>Created At</th>
  </tr>

  <% @surveys.each do |survey| %>
    <tr>
      <td><%= link_to "#{survey.name}", survey_path(survey), class: "link-dark" %></td>
      <td>Phase <%= "#{survey.phase_num}" %></td>
      <td><%= "#{survey.created_at}" %></td>
    </tr>

  <% end %>

</table>


<%= link_to "Create New Survey", new_survey_path, class: "btn btn-dark"  %>