<h1>Survey Info</h1>


<%= @survey.name %><br>
<%= @survey.survey_questions.first.design_question %><br>
<%= @survey.survey_questions.first.navigation_question %><br>
<%= @survey.survey_questions.first.error_handling_question %><br>
<%= @survey.survey_questions.first.rating %><br>